/* Universal styles */
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #ffff, #d3d1bb);
}

nav {
  justify-content: center;
  display: flex;
  margin: 0 auto;
}

footer {
  text-align: center;
  font-size: 24px;
  padding: 10px 0;
}

nav > a {
  font-size: 28px;
  text-decoration: none;
  padding: 10px;
  color: rgb(62, 62, 62);
  transition: transform 0.2s;
}

nav > a:hover {
  transform: scale(1.15);
}

a.active {
  font-weight: bold;
  color: black;
}

.container {
  margin-left: 200px;
  margin-right: 200px;
  padding: 24px;
}

.debug-border {
  border: 1px solid red;
}

/* Index styles */
.index-body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index-title {
  color: #36332b;
  text-align: center;
  font-size: 96px;
  letter-spacing: 5px;
}

/* CV styles */
.cv-header {
  color: #36332b;
  padding: 100px;
  display: flex;
  align-items: center;
  gap: 80px;
}

.cv-photo {
  width: 420px;
  height: 500px;
  margin-right: 80px;
  margin-left: 20px;
  border-radius: 16px;
  object-fit: cover;
}

.cv-title-section h1 {
  font-size: 128px;
  font-weight: 700;
  margin-bottom: 10px;
  letter-spacing: 3px;
}

.cv-title-section h2 {
  font-size: 40px;
  margin-bottom: 4px;
  letter-spacing: 4px;
}

.cv-content {
  padding: 100px 120px;
}

.cv-section {
  margin-bottom: 80px;
}

.cv-section:last-child {
  margin-bottom: 0;
}

.section-title {
  font-size: 48px;
  font-weight: 700;
  color: #36332b;
  margin-bottom: 40px;
  padding-bottom: 20px;
  border-bottom: 6px solid #36332b;
  letter-spacing: 2px;
}

.two-column {
  display: grid;
  grid-template-columns: 1fr 2fr; /* 1:2 ratio  https://www.w3schools.com/cssref/pr_grid-template-columns.php */
  gap: 80px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 24px;
  font-size: 30px;
  color: #444;
}

.contact-icon {
  width: 48px;
  height: 48px;
  min-width: 48px;
  opacity: 0.7;
}

.contact-icon:hover {
  opacity: 1;
}

.education-item,
.skill-category {
  margin-bottom: 40px;
}

.year {
  font-weight: 700;
  color: #36332b;
  font-size: 28px;
  margin-bottom: 10px;
}

.schools-name {
  font-weight: 600;
  color: #1a1a1a;
  font-size: 32px;
  line-height: 1.5;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.skill-tag {
  background-color: #c9c1a0;
  color: rgb(29, 29, 29);
  padding: 16px 32px;
  border-radius: 40px;
  font-size: 28px;
  font-weight: bold;
}

.reference-item {
  background: #ffffff34;
  padding: 40px;
  border-radius: 16px;
  margin-bottom: 30px;
}

.reference-item a {
  color: #222222;
  text-decoration: none;
  font-weight: 600;
  font-size: 32px;
  transition: color 0.3s;
}

.reference-item a:hover {
  color: #4b5fa2;
  text-decoration: underline;
}

/* About styles */
.about-row {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 40px;
}

.about-title{
  letter-spacing: 1px;
}

.about-row.reverse {
  flex-direction: row-reverse;
}

.left-content,
.right-content {
  flex: 1;
  text-align: justify;
  color: #36332b;;
  font-weight: 400;
  font-size: 30px;
}

.about-img {
  width: 650px;
  max-width: 100%;
  height: 400px;
  border-radius: 8px;
}

/* Gallery styles */
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(350px, 1fr)
  ); /*https://css-tricks.com/auto-sizing-columns-css-grid-auto-fill-vs-auto-fit/*/
  gap: 40px;
  padding: 40px 0;
}

.gallery-item {
  border: 1px solid #ccc;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.gallery-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transition: transform 0.6s;
}

.nba-gallery-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  margin-bottom: 24px;
}

.nba-gallery-header .nba-logo {
  margin: 0;
  width: 140px;
  height: auto;
}

.nba-gallery-header h2 {
  margin: 0;
  font-size: 80px;
  font-weight: bold;
  letter-spacing: 2px;
}

.gallery-img:hover {
  transform: scale(1.15);
}

/* Contact styles */
.contact-container {
  max-width: 1800px;
  margin: 32px auto;
  padding: 40px;
}
.contact-form {
  max-width: 800px;
  margin: 15px auto;
  background: #fff;
  border-radius: 32px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.07);
  padding: 64px;
}
.contact-form label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #2d3a4a;
}
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 18px;
  border: 1px solid #d0d7e2;
  border-radius: 20px;
  background: #f7fafc;
  font-size: 28px;
}
.contact-form button {
  width: 100%;
  padding: 24px;
  background: #ccc79c;
  color: #ffffff;
  border: none;
  border-radius: 16px;
  font-size: 1rem;
  font-weight: bold;
}

.contact-form button:hover {
  background: #b3ad85;
  cursor: pointer;
}

.contact-form .info {
  text-align: center;
  color: #888;
  font-size: 1.95rem;
  margin-bottom: 36px;
}